.app {
    width: min-content;
}

.display {
    width: 100%;
    text-align: right;
    font-size: 2em;
    font-family: Arial;
    padding: 0px;
}

.button button {
    width: 4em;
    height: 3em;
}

.panel-row {
    display: flex;
}